{#
| Variable                   | Type        | Description                                                          |
|----------------------------|-------------|----------------------------------------------------------------------|
| page                       | object      |                                                                      |
| page.title                 | string      | *could be html                                                       |
| page.slug                  | string      | ex: "cat.show"                                                       |
| category                   | ?Category   |                                                                      |
| category.name              | string      |                                                                      |
| category.url               | string      |                                                                      |
| category.sub_categories    | ?Category[] |                                                                      |
| category.image             | ?string     |                                                                      |
| filters                    | bool        | is filters allowed here or not                                       |
| sort_options[]             | SortList[]  |                                                                      |
| sort_options[].id          | string      | ourSuggest, bestSell, topRated, priceFromTopToLow, priceFromLowToTop |
| sort_options[].name        | string      |                                                                      |
| sort_options[].is_selected | bool        | Is current page sorted by it                                         |
| search_query               | ?string     |                                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
	<div
		class="container flex flex-col items-center px-2.5 ms:px-5 mb-10">
		{# add breadcumbs container in pages to make a space in case breadcrumbs is off #}
		<nav class="w-full py-5 breadcrumbs">
			{% component 'header.breadcrumbs' %}
		</nav>

		{% if theme.settings.get("active_slider_category") %}
			      <section class="s-block head-edit s-block--hero-slider s-block--full-bg wide-placeholder home-slider  md:-mx-0  my-4"> 
    <salla-slider 
      id="main-slider-{{ position }}" 
      class="home-slider main-slider" 
      auto-play 
      show-controls="false"
      loop
      type="fullwidth">
        <div slot="items">
            {% for slide in theme.settings.get("category_slider") %}
            
                <a href="{{slide.url_1}}" class="swiper-lazy-wrap w-full min-h-[300px] lg:min-h-[500px] bg-dark">
                    <div data-background="{{ slide.image_1 }}" class="swiper-lazy"></div>
                    <div class="flex items-center container pb-16 sm:pb-0 home-slider__content relative h-full w-full"  style="justify-content : {{slide.content_direction[0].value|json_encode()|split('"')[1]}}" >
                        <div class=" w-4/6 md:w-7/12 lg:w-5/12 text-white hero-content" style="text-align : {{slide.content_direction[0].value|json_encode()|split('"')[1]}}">
                            <h3 data-swiper-parallax="-500"
                                class="lg:text-title-size font-bold leading-tight mb-4">{{ slide.title }}</h3>
                
                            <p data-swiper-parallax="-300" class=" description md:text-4xl text-xl">{{ slide.subttile }} </p>
                           
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </salla-slider>
</section> 
		{% endif %}
		{% if theme.settings.get("gif_image") %}
		<div class="container">
			<img class="s-block my-8 mx-auto mb-16 md:w-[80%] w-full max-h-[100px] rounded-lg" src="{{ theme.settings.get("gif_image") }}" />
		</div>
		{% endif %}

		<div class="flex flex-col w-full items-center md:flex-row">
		
			{% if filters %}
				<button class="hidden btn--close-sm close-filters sicon-cancel"></button>
				<salla-filters class="flex-none md:w-72" id="filters-menu"></salla-filters>
			{% endif %}
				
		
			 <div class="main-content flex-1 w-full {{ filters ? 'ltr:lg:ml-8 rtl:lg:mr-8' : '' }}">
				<div class="flex items-center justify-between mb-4 sm:mb-6">
					<h1 class="text-xl font-bold rtl:pl-3 ltr:pr-3" id="page-main-title">{{ page.title|raw }}</h1>
					<div class="flex items-center space-x-2 rtl:space-x-reverse">
						{% if filters %}
							<a href="#filters-menu" class="mt-2 filters-trigger bg-border-color text-primary lg:hidden">
								<i class="sicon-filter text-gray-text text-2xl me-2.5"></i>
							</a>
						{% endif %}
                        {% if sort_options|length and products|length %}
                            <div class="flex items-center category-select">
                                <label class="hidden sm:block rtl:ml-3 ltr:mr-3 whitespace-nowrap"
                                       for="product-filter">{{ trans('pages.categories.sorting') }}</label>
                                <select id="product-filter" class="form-input pt-0 pb-1 rtl:md:pl-10 ltr:md:pr-10">
                                    {% for sort in sort_options %}
                                        <option value="{{ sort.id }}" {{ sort.is_selected?'selected':'' }}>{{ sort.name }}</option>

                                    {% endfor %}
                                </select>
                              

                            </div>
                        {% endif %}
					
						<div class="items-center hidden rtl:mr-2 ltr:ml-2">
							<a href="#" data-type="grid" class="grid-trigger bg-border-color text-primary">
								<i class="sicon-grid"></i>
							</a>
							<a href="#" data-type="list" class="grid-trigger">
								<i class="sicon-list"></i>
							</a>
						</div>
					</div>

				</div>

				{% hook 'product:index.items.start' %}
				<div class="flex ">
					<salla-products-list class="flex-1 min-w-0 overflow-auto " source="{{ page.slug }}" source-value="{{ page.id }}" {{ filters?'filters-Results':'' }}></salla-products-list>
				</div>
				{% hook 'product:index.items.end' %}
			</div>
		</div>


	</section>


{% if theme.settings.get("list_nav_category") %}

<section class="s-block s-block--categories mt-10 navlink-design-category w-full">
	<div>
		{% for navlink in theme.settings.get("list_nav_category") %}
			<div class="nav-links hidden">{{navlink.category[0].value|json_encode()}}</div>
		{% endfor %}

		
	</div>
	<div class="text-center mb-2 flex flex-col justify-center items-center">
		<h1 class="mb-2">{{theme.settings.get("title_category_nav")}}</h1>
	</div>
	
	<div id="list-cattegory" class="flex justify-center items-center gap-4 w-full mb-3"></div>
	<div id="list-product" class="container"></div>

</section>
	
{% endif %}

{% if theme.settings.get("category_choose_product") %}
<section class="s-block s-block--categories mt-10  !bg-white">
	<div>
		{% for navlink in theme.settings.get("category_choose_product") %}
			<div class="nav-product hidden">{{navlink.product[0].value|json_encode()}}</div>
		{% endfor %}
	</div>
	<div class="container  category-1 flex flex-col justify-center items-center">

		<div class="text-center mb-2 flex flex-col justify-center items-center">
			<h1 class="mb-3">{{theme.settings.get("category_choose_product_title")}}</h1>
			<div class="line"></div>

		</div>

		<div class="w-full flex items-center justify-center m-auto mb-2">
			<div class="grid-feattures-pro !gap-8" id="all-pro-by-cat-page"></div>
		</div>

		
	</div>


</section>

{% endif %}
			


	{% if store.settings.category.testimonial_enabled %}
		{% component 'home.testimonials' %}
	{% endif %}
	
{% endblock %}


{% block scripts %}
	<script defer src="{{ 'product.js' | asset }}"></script>
	<script>

	
function getlistProductCategory(event, element , id) {
	const listProduct = document.getElementById(`${id}-product`)
const activelinks = document.getElementsByClassName("navLink-show")
const data = `
<div class="flex ">
	<salla-products-list class="flex-1 min-w-0 overflow-auto " source="categories" source-value=" ${event} "></salla-products-list>
</div>

`
listProduct.innerHTML = data


for (let i = 0; i < activelinks.length; i++) {
activelinks[i].classList.remove("active-design")
}
element.classList.add("active-design");
}
</script>
{% endblock %}

