<section class=" mt-8 h-80  gap-3 flex flex-col items-center justify-center text-white " style="background: url('{{component.image}}') ; background-repeat:no-repeat  ;     background-size: cover;">
  
        <p class=" text-4xl">{{component.title}} </p>
        <h1 class=" text-7xl">{{component.subtitle}}</h1>
        <a class=" border-b-2 border-white text-4xl" href="{{component.url}}"> {{component.button}}</a>
  
</section>