<section class=" mt-8 h-80 relative flex flex-col items-center justify-center text-white flex-nowrap" style="background: cover no-repeat url('{{component.image}}')">
  
        <h4>{{component.title}} </h4>
        <h1>{{component.subtitle}}</h1>
        <a href="{{component.url}}"> {{component.button}}</a>
  
</section>