<section class="s-block relative">
    <div class=" w-full">
        <img src="{{component.image}}"/>
    </div>
    <div class=" absolute w-full h-full">
        <h4>{{component.title}} </h4>
        <h1>{{component.subtitle}} </h1>
        <a href="{{component.url}}"> {{component.button}}</a>
    </div>
</section>