{#
| Variable              | Type                  | Description                                                                  |
|-----------------------|-----------------------|------------------------------------------------------------------------------|
| component             | object                | Contains merchant settings for fields from twilight.json `component` section |
| component.background  | string                |                                                                              |
| component.title       | ?string               |                                                                              |
| component.description | ?string               |                                                                              |
| component.products    | Product[] *Collection | @see views/pages/product.twig                                                |
| position              | int                   | Sorting number start from zero                                               |
#}
<section class="s-block s-block--slider-with-bg s-block--full-bg component-header-category">
	<div class="slider-bg" style="background-image: url('{{ component.background_image }}');">
		<div class="container pt-8 sm:pt-20 relative flex flex-col items-center">
			<div>
				<h3 class="font-bold leading-12 text-[25px]">
					{{ component.title }}
				</h3>
				<p class="text-sm mb-8 line-clamp-2 max-w-lg text-center">
					{{ component.description }}
				</p>
			</div>
		</div>
	</div>


	<div class="container flex justify-center items-center  relative " style="margin-top : -10rem">
		
			<div class="flex md:flex-row flex-col  items-center cat-with-head">
				{% for link in component.header_category %}
					<div class=" relative">

						<span class="hidden category-value">{{ link.category.value[0]|json_encode() }}</span>
						<a aria-label="link" class="api-set-category relative" href="{{link.url}}">
							<div class="itme-categories-image card-effect category-edit rounded h-[300px]">
								<img src="{{link.image}}" alt="cateogry-photo" class="relative  h-[300px]" width="" heigh="">
								<p class="category-name absolute p-header-category text-black"></p>
							</div>


						</a>

					</div>

				{% endfor %}

			</div>


	</div>
</section>
