<section class="s-block head-edit s-block--hero-slider s-block--full-bg wide-placeholder home-slider photo-slider-hero mb-5">
	<div class="container">
        <a class=" w-full  min-h-[250px] lg:min-h-[500px] relative" href="{{component.url}}">
                <img src="{{ component.image }}" class=" w-full"/>
                <div>
               <div class="absolute flex items-center w-full px-3 bottom-3" style="justify-content : {{component.button_position|json_encode()|split('"')[1]}}">
		        <button class="w-8/12 py-3 text-sm font-bold text-center rounded-lg lg:w-5/12 lg:text-lg " style="color:{{component.text_color_button}} ; background-color : {{component.background_button_color}}">{{component.button}}</button>
		</div>
        </a>
    </div>
</section>