<section class="s-block head-edit s-block--hero-slider s-block--full-bg wide-placeholder home-slider photo-slider-hero mb-5">
	  <salla-slider type="carousel" controls-outer loop autoplay show-controls="false">
        <div slot="items">
        {% for item in component.slider %}
            
        
        <a class=" object-cover object-center w-full h-full min-h-[250px] max-h-[350px] lg:max-h-[800px] relative" href="{{item.url}}">
            <img src="{{ item.image }}" class=" w-full h-full"/>
            <div class="absolute flex items-center w-full px-10 bottom-3" style="justify-content : {{item.button_position|json_encode()|split('"')[1]}}">
                <button class="py-3 lg:py-6 px-3 text-sm text-white bg-white font-bold text-center rounded-none w-fit lg:w-62 lg:text-lg" style="color:{{item.text_color_button}} ; background-color : {{item.background_button_color}}">
                {{item.button}}
                </button>
            </div>
        </a>
        {% endfor %}
        </div>
    </salla-slider>
</section>
