{#
| Variable                      | Type      | Description                                                         |
|-------------------------------|-----------|---------------------------------------------------------------------|
| items                         | array     |                                                                     |
| items[].title                 | string    | Section title                                                       |
| items[].name                  | string    | Alias for title                                                     |
| items[].type                  | string    | category,most_sales,latest_products,chosen_products                 |
| items[].featured_product      | Product   |                                                                     |
| items[].special_product.id    | string    | Product string id                                                   |
| items[].special_product.title | string    | Product Name                                                        |
| items[].products[]            | Product[] |                                                                     |
| items[].limit                 | Int       | Number of products to be shown                                      |
| items[].id                    | string    | Section id                                                          |
| position                      | int       | Sorting number starts from zero                                     |
#}
<section class="s-block s-block--features-products {% if items | length > 1 %}two-cols{% endif %} container">
	<div class="inner">
		{% for section in items %}
			<div>
				<div class="s-block__title">
					<h2>{{ section.title }}</h2>
					{# <p>عنوان فرعي توصيفي صغير</p> #}
				</div>
				<div class="grid flex-1 gap-4 lg:grid-cols-2 sm:gap-8">
					{% if section.featured_product %}
						<div class="grid flex-1 gap-4 lg:grid-cols-2 sm:gap-8">
							<div id="product-{{
																            section.featured_product.id
																          }}" class="overflow-hidden product-entry product-entry--full-image" style="border-radius : 40px">
								<a href="{{ section.featured_product.url }}" class="relative w-full h-full overflow-hidden rounded-md hover:opacity-90">
									<img class="object-cover w-full h-full lazy loaded" src="{{ section.featured_product.image.url }}" data-src="https://cdn.salla.sa/gzRDg/SPa3pW2JutxuRHUTAtxjtCewpWd5HrYELAV0XX9G.jpg" alt="حقيبة دافل فاشيتا صحارى" loading="lazy" data-ll-status="loaded">
								</a>
								<a href="{{ section.featured_product.url }}" class="absolute top-0 bottom-0 left-0 right-0 transition-opacity duration-700 rounded-2xl"></a>
								<div class="absolute flex items-center justify-center w-full h-full">
									<div class="flex items-baseline justify-center">

										<h3 class="mb-2 text-sm font-bold leading-6 text-white product-entry__title">
											<a href="{{section.featured_product.url}}" style="background-color : #404553 ; padding: 10px 15px; border-radius : 20px">تسوق الان</a>
										</h3>
									</div>
								</div>
							</div>
							{# <salla-product-card shadow-on-hover product="{{section.featured_product}}" full-image></salla-product-card> #}
							{# <custom-salla-product-card shadow-on-hover product="{{section.featured_product}}" full-image></custom-salla-product-card> #}

							{% for products in section.products|slice(0,2) %}
								<div class="relative grid gap-4 sm:gap-8 " style="padding : 2rem 1px ">
									<div id="product-1075048896" class="flex flex-col items-center justify-center p-4 overflow-hidden product-entry product-entry--minimal" style=" border-radius : 40px ; background-color : #EAE9E9">
										<div style="height : 100px ; width: 70%">
											<a class="sm:h-32 sm:w-28" href="{{products[1].id}}">
												<img class="w-full h-full lazy loaded" src="{{ products[1].image.url }}" data-src="https://cdn.salla.sa/gzRDg/F3jJv4Iu3qhNIq6cTJ0wlGTA2YuwgJlngtGFDo2p.jpg" alt="حقيبة يد كبيرة" loading="lazy" data-ll-status="loaded">
											</a>
										</div>
										<div class="absolute flex flex-col items-center justify-center mt-auto" style=" top: 18px ; right:7px">

											<div class="wishlist" data-title="إضافة للسلة">
												<salla-button onclick="salla.wishlist.toggle({{
																										              products[1].id
																										            })" shape="icon" fill="outline" color="primary" aria-label="wishlist button" class=" s-button-wrap hydrated">
													<svg xmlns="http://www.w3.org/2000/svg" width="47" height="48" viewbox="0 0 47 48" fill="none">
														<path d="M23.1506 42.4608L20.3714 39.8758C10.5006 30.7304 3.98389 24.6987 3.98389 17.2962C3.98389 11.2646 8.62222 6.52539 14.5256 6.52539C17.8606 6.52539 21.0614 8.11164 23.1506 10.6183C25.2397 8.11164 28.4406 6.52539 31.7756 6.52539C37.6789 6.52539 42.3172 11.2646 42.3172 17.2962C42.3172 24.6987 35.8006 30.7304 25.9297 39.8954L23.1506 42.4608Z" fill="#212121"/>
													</svg>
												</salla-button>
											</div>

											<div class="quickview-btn eye-icon" onclick="clickModal({{products[1].id}})" data-title="عرض سريع" data-product-id="{{products[1].id}}">
												<salla-button fill="outline" class="s-button-wrap hydrated " shape="btn" color="primary" size="medium" width="normal">

													<svg xmlns="http://www.w3.org/2000/svg" width="44" height="45" viewbox="0 0 44 45" fill="none">
														<path d="M21.6507 8.90039C12.6924 8.90039 5.04197 14.6021 1.94238 22.6504C5.04197 30.6987 12.6924 36.4004 21.6507 36.4004C30.6091 36.4004 38.2595 30.6987 41.3591 22.6504C38.2595 14.6021 30.6091 8.90039 21.6507 8.90039ZM21.6507 31.8171C16.7057 31.8171 12.6924 27.7104 12.6924 22.6504C12.6924 17.5904 16.7057 13.4837 21.6507 13.4837C26.5957 13.4837 30.6091 17.5904 30.6091 22.6504C30.6091 27.7104 26.5957 31.8171 21.6507 31.8171ZM21.6507 17.1504C18.6765 17.1504 16.2757 19.6071 16.2757 22.6504C16.2757 25.6937 18.6765 28.1504 21.6507 28.1504C24.6249 28.1504 27.0257 25.6937 27.0257 22.6504C27.0257 19.6071 24.6249 17.1504 21.6507 17.1504Z" fill="#212121"/>
													</svg>

												</salla-button>
											</div>
											<div class="addToCart" data-title="إضافة للسلة">
												<salla-add-product-button shape="icon" class="addToCart__btn hydrated" product-id="{{ products[1].id }}" product-status="sale" fill="outline" product-type="product">
													<svg xmlns="http://www.w3.org/2000/svg" width="65" height="59" viewbox="0 0 65 59" fill="none">
														<path d="M31.7114 29.1459H34.7285V24.3429H39.2541V21.1409H34.7285V16.3379H31.7114V21.1409H27.1858V24.3429H31.7114V29.1459ZM25.6772 43.5548C24.0178 43.5548 22.6752 44.9957 22.6752 46.7568C22.6752 48.5179 24.0178 49.9588 25.6772 49.9588C27.3366 49.9588 28.6943 48.5179 28.6943 46.7568C28.6943 44.9957 27.3366 43.5548 25.6772 43.5548ZM40.7626 43.5548C39.1032 43.5548 37.7606 44.9957 37.7606 46.7568C37.7606 48.5179 39.1032 49.9588 40.7626 49.9588C42.422 49.9588 43.7797 48.5179 43.7797 46.7568C43.7797 44.9957 42.422 43.5548 40.7626 43.5548ZM27.3366 35.5499H38.5753C39.7067 35.5499 40.7023 34.8934 41.2152 33.9008L47.0382 22.6778L44.4133 21.1409L38.5753 32.3479H27.9853L21.5589 17.9389H16.626V21.1409H19.6431L25.0738 33.2924L23.0373 37.1989C21.936 39.3442 23.3842 41.9538 25.6772 41.9538H43.7797V38.7518H25.6772L27.3366 35.5499Z" fill="black"/>
													</svg>
												</salla-add-product-button>
											</div>
										</div>
										<div class="flex flex-col items-center justify-center flex-1 p-2 overflow-hidden product-entry__content">
											<h3 class="product-entry__title leading-6 mb-1.5 max-w-full">
												<a href="{{products[1].id}}}">{{products[1].name}}</a>
											</h3>
											<div class="flex items-center justify-center w-full">
												<h4 class="text-sm font-bold text-store-text-secondary {{
																										                  products[1].discount_ends ? " text-red-400" : " "
																										                }}">{{products[1].price}}
													{{products[1].currency}}</h4>

												<span class="text-sm line-through text-store-text-secondary">{{
                    products[1].discount_ends
                      ? products[1].discount_ends + products[1].currency
                      : ""
                  }}</span>

											</div>


										</div>
									</div>
									<div id="product-1075048896" class="flex flex-col items-center justify-center p-4 overflow-hidden product-entry product-entry--minimal" style=" border-radius : 40px ; background-color : #EAE9E9">
										<div class="sm:w-28 sm:h-36">
											<a href="{{products[2].id}}">
												<img class="w-full h-full lazy loaded" src="{{ products[2].image.url }}" data-src="https://cdn.salla.sa/gzRDg/F3jJv4Iu3qhNIq6cTJ0wlGTA2YuwgJlngtGFDo2p.jpg" alt="حقيبة يد كبيرة" loading="lazy" data-ll-status="loaded">
											</a>
										</div>
										<div class="absolute flex flex-col items-center justify-center mt-auto" style=" top: 18px ; right:7px">

											<div class="wishlist" data-title="إضافة للسلة">
												<salla-button onclick="salla.wishlist.toggle({{
																										            products[2].id
																										          }})" shape="icon" fill="outline" color="primary" aria-label="wishlist button" class=" s-button-wrap hydrated">
													<svg xmlns="http://www.w3.org/2000/svg" width="47" height="48" viewbox="0 0 47 48" fill="none">
														<path d="M23.1506 42.4608L20.3714 39.8758C10.5006 30.7304 3.98389 24.6987 3.98389 17.2962C3.98389 11.2646 8.62222 6.52539 14.5256 6.52539C17.8606 6.52539 21.0614 8.11164 23.1506 10.6183C25.2397 8.11164 28.4406 6.52539 31.7756 6.52539C37.6789 6.52539 42.3172 11.2646 42.3172 17.2962C42.3172 24.6987 35.8006 30.7304 25.9297 39.8954L23.1506 42.4608Z" fill="#212121"/>
													</svg>
												</salla-button>
											</div>

											<div class="quickview-btn eye-icon" onclick="clickModal({{products[2].id}})" data-title="عرض سريع" data-product-id="{{products[2].id}}">
												<salla-button fill="outline" class="s-button-wrap hydrated " shape="btn" color="primary" size="medium" width="normal">

													<svg xmlns="http://www.w3.org/2000/svg" width="44" height="45" viewbox="0 0 44 45" fill="none">
														<path d="M21.6507 8.90039C12.6924 8.90039 5.04197 14.6021 1.94238 22.6504C5.04197 30.6987 12.6924 36.4004 21.6507 36.4004C30.6091 36.4004 38.2595 30.6987 41.3591 22.6504C38.2595 14.6021 30.6091 8.90039 21.6507 8.90039ZM21.6507 31.8171C16.7057 31.8171 12.6924 27.7104 12.6924 22.6504C12.6924 17.5904 16.7057 13.4837 21.6507 13.4837C26.5957 13.4837 30.6091 17.5904 30.6091 22.6504C30.6091 27.7104 26.5957 31.8171 21.6507 31.8171ZM21.6507 17.1504C18.6765 17.1504 16.2757 19.6071 16.2757 22.6504C16.2757 25.6937 18.6765 28.1504 21.6507 28.1504C24.6249 28.1504 27.0257 25.6937 27.0257 22.6504C27.0257 19.6071 24.6249 17.1504 21.6507 17.1504Z" fill="#212121"/>
													</svg>

												</salla-button>
											</div>
											<div class="addToCart" data-title="إضافة للسلة">
												<salla-add-product-button shape="icon" class="addToCart__btn hydrated" product-id="{{ products[2].id }}" product-status="sale" fill="outline" product-type="product">
													<svg xmlns="http://www.w3.org/2000/svg" width="65" height="59" viewbox="0 0 65 59" fill="none">
														<path d="M31.7114 29.1459H34.7285V24.3429H39.2541V21.1409H34.7285V16.3379H31.7114V21.1409H27.1858V24.3429H31.7114V29.1459ZM25.6772 43.5548C24.0178 43.5548 22.6752 44.9957 22.6752 46.7568C22.6752 48.5179 24.0178 49.9588 25.6772 49.9588C27.3366 49.9588 28.6943 48.5179 28.6943 46.7568C28.6943 44.9957 27.3366 43.5548 25.6772 43.5548ZM40.7626 43.5548C39.1032 43.5548 37.7606 44.9957 37.7606 46.7568C37.7606 48.5179 39.1032 49.9588 40.7626 49.9588C42.422 49.9588 43.7797 48.5179 43.7797 46.7568C43.7797 44.9957 42.422 43.5548 40.7626 43.5548ZM27.3366 35.5499H38.5753C39.7067 35.5499 40.7023 34.8934 41.2152 33.9008L47.0382 22.6778L44.4133 21.1409L38.5753 32.3479H27.9853L21.5589 17.9389H16.626V21.1409H19.6431L25.0738 33.2924L23.0373 37.1989C21.936 39.3442 23.3842 41.9538 25.6772 41.9538H43.7797V38.7518H25.6772L27.3366 35.5499Z" fill="black"/>
													</svg>
												</salla-add-product-button>
											</div>
										</div>
										<div class="flex flex-col items-center justify-center flex-1 p-2 overflow-hidden product-entry__content">
											<h3 class="product-entry__title leading-6 mb-1.5 max-w-full">
												<a href="{{products[2].id}}">{{products[2].name}}</a>
											</h3>
											<div class="flex items-center justify-center w-full">
												<h4 class="text-sm font-bold text-store-text-secondary {{
																										                products[2].discount_ends ? " text-red-400" : " "
																										              }}">{{products[2].price}}
													{{products[2].currency}}</h4>

												<span class="text-sm line-through text-store-text-secondary">{{
                  products[2].discount_ends
                    ? products[2].discount_ends + products[2].currency
                    : ""
                }}</span>

											</div>


										</div>
									</div>
								</div>
							</div>
							{# <salla-product-card shadow-on-hover product="{{product}}" minimal></salla-product-card> #}
							{# <custom-salla-product-card shadow-on-hover product="{{product}}" minimal></custom-salla-product-card> #}
						{% endfor %}

						{# {% else %}
												                        {% for product in section.products %}
												                            <salla-product-card shadow-on-hover product="{{product}}" minimal></salla-product-card>
												                            {# <custom-salla-product-card shadow-on-hover product="{{product}}" minimal></custom-salla-product-card> #}
						{# {% endfor %} #}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
