{# ############## Shared Variables in all views ################
| Variable                                           | Type     | Description                                                                                              |
|----------------------------------------------------|----------|----------------------------------------------------------------------------------------------------------|
| store                                              | Store    |                                                                                                          |
| store.id                                           | int      |                                                                                                          |
| store.name                                         | string   |                                                                                                          |
| store.username                                     | string   |                                                                                                          |
| store.description                                  | string   |                                                                                                          |
| store.slogan                                       | ?string  | * if feature in twilight.json                                                                            |
| store.logo                                         | string   |                                                                                                          |
| store.url                                          | string   |                                                                                                          |
| store.api                                          | string   | the api url for current store                                                                            |
| store.icon                                         | string   | *fav icon url                                                                                            |
| store.contacts                                     | object   | [mobile, phone, email, whatsapp, telegram], ex. store.contacts.email                                     |
| store.social                                       | object   | [instagram, snapchat, twitter, youtube, facebook, pinterest, maroof, whatsapp], ex. store.social.twitter |
| store.settings                                     | object   |                                                                                                          |
| store.settings.auth.email_allowed                  | bool     |                                                                                                          |
| store.settings.auth.mobile_allowed                 | bool     |                                                                                                          |
| store.settings.auth.is_email_required              | bool     |                                                                                                          |
| store.settings.cart.apply_coupon_enabled           | bool     | Does visitor allowed to applay coupon in cart page                                                       |
| store.settings.product.total_sold_enabled          | bool     |                                                                                                          |
| store.settings.product.fit_type                    | ?string  | null when equal product card size is off, or ['cover', 'contain']                                        |
| store.settings.category.testimonial_enabled        | bool     | Show random testimonials in category page                                                                |
| store.settings.tax.number                          | ?string  |                                                                                                          |
| store.settings.tax.certificate                     | ?string  | certificate image url                                                                                    |
| store.settings.tax.taxable_prices_enabled          | bool     | Does tax included in the prices ex product_price 100 & tax is 15, price will be 115                      |
| store.settings.rating_enabled                      | bool     | Is one of: store_enabled or shipping_enabled or products_enabled                                         |
| store.settings.arabic_numbers_enabled              | bool     | Does the merchant wants the numbers to be shown as Arabic format                                         |
| store.settings.is_multilingual                     | bool     |                                                                                                          |
| store.settings.currencies_enabled                  | bool     |     
| theme                                              | Theme    |                                                                                                          |
| theme.id                                           | int      |                                                                                                          |
| theme.name                                         | string   |                                                                                                          |
| theme.mode                                         | string   | `live`, `preview`                                                                                        |
| theme.is_rtl                                       | bool     |                                                                                                          |
| theme.translations_hash                            | int      | to be used in case merchant updated frontend store translations                                          |
| theme.color                                        | object   |                                                                                                          |
| theme.color.primary                                | string   |                                                                                                          |
| theme.color.text                                   | string   | suitable text color comparing to `theme.primary.color`, #000000, #FFFFFF                                 |
| theme.color.reverse_primary                        | string   |                                                                                                          |
| theme.color.reverse_text                           | string   | if `theme.text_color=#000000` means that `theme.reverse_text_color=#FFFFFF`                              |
| theme.color.is_dark                                | bool     | Does main store color `theme.primary.color` considered as dim color?                                     |
| theme.color.darker(float alpha, ?string hexColor)  | string   | get darker color from `theme.primary.color` or from passed color, `alpha` range from 0.0-1.0             |
| theme.color.lighter(float alpha, ?string hexColor) | string   | get lighter color from `theme.primary.color` or from passed color, `alpha` range from 0.0-1.0            |
| theme.font                                         | ?object  | Salla predefined font, null when the theme doesn't have `fonts` feature                                  |
| theme.font.name                                    | string   | DINNextLTArabic-Regular, Amazon-Ember, Apple, Dubai, Estedad                                             |
| theme.font.url                                     | string   | css full url ex: 'https://my_store.test/dist/fonts/default.css'                                          |
| theme.settings                                     | object   | dynamic object with values of the `settings` in twilight.json ex. `theme.settings.topnav_is_dark`        |
| theme.settings.set(settingName, value)             | string   | set global var, then get it {{theme.settings.get('my_var','fallback') }}                                 |
| theme.settings.get(settingName, default=null)      | mixed    | get theme setting ex `theme.settings.get('my_var', 'fallback')`                                          |
| user                                               | User     | Current user/Guest                                                                                       |
| user.first_name                                    | string   |                                                                                                          |
| user.last_name                                     | string   |                                                                                                          |
| user.avatar                                        | string   |                                                                                                          |
| user.city                                          | ?string  |                                                                                                          |
| user.country                                       | ?string  |                                                                                                          |
| user.full_name                                     | string   | link:`first_name` `last_name`                                                                            |
| user.mobile                                        | string   |                                                                                                          |
| user.email                                         | string   |                                                                                                          |
| user.gender                                        | ?string  | 'male', 'female'                                                                                         |
| user.birthday                                      | ?data    |                                                                                                          |
| user.type                                          | string   | `user`, `guest`                                                                                          |
| user.country_code                                  | string   | ex: "SA" for user or guest                                                                               |
| user.currency_code                                 | string   | ex: "SAR"                                                                                                |
| user.currency                                      | object   |                                                                                                          |
| user.currency.code                                 | string   | ex: "SAR"                                                                                                |
| user.currency.name                                 | string   | ex: "ريال سعودي"                                                                                             |
| user.currency.symbol                               | string   | ex: "ر.س"                                                                                                |
| user.currency.amount                               | string   | ex: "1.0"                                                                                                |
| user.currency.country_code                         | string   | lower first two letters from currency code ex: "sa"                                                      |
| user.language_code                                 | string   |                                                                                                          |
| user.language                                      | Language | Current user language                                                                                    |
| user.language.name                                 | string   |                                                                                                          |
| user.language.is_rtl                               | bool     |                                                                                                          |
| user.language.code                                 | string   | ex: ar, en                                                                                               |
| user.language.url                                  | string   | Current url in this lang                                                                                 |
| user.language.flag                                 | string   | Url of flag for the language                                                                             |
| user.language.country_code                         | string   | ex: Arabic=>sa, English=>gb                                                                              |
| user.language.order                                | int      | Sort language in menu                                                                                    |
#}
<!DOCTYPE html>
<html
	lang="{{ user.language.code }}" dir="{{ user.language.dir }}">
	<!-- بسم الله الرحمن الرحيم -->
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		{{ theme.settings.set('placeholder', 'images/placeholder.png') }}
		<script type="text/javascript" src="{{ asset ('product-card.js') }}"></script>
		{# <script defer src="{{ 'product-card.js'|asset }}"></script> #}

		<script data-cfasync="false">
			window.header_is_sticky = "{{ theme.settings.get('header_is_sticky', 'Default Value') }}"
		</script>

		{% hook 'head:start' %}
		{% hook head %}
		{% block styles %}{% endblock %}
		<link rel="stylesheet" href="{{ 'app.css' | asset }}">
		<link rel="stylesheet" href="{{ theme.font.path|cdn }}"/>
		<link rel="stylesheet" href="{{ 'fonts/sallaicons.css'|cdn }}"/>

		<style>:root
		{
			--font-main: '{{theme.font.name}}';
			--color-primary: {{theme.color.primary}}
			;
			--color-primary-dark: {{theme.color.darker(0.15)}}
			;
			--color-primary-light: {{theme.color.lighter(0.15)}}
			;
			--color-primary-reverse: {{theme.color.reverse_text}}
			;
		}
	</style>
	{# tracking services, custom css feature. #}
	{% hook 'head:end' %}
</head>
<body id="app" class="overflow-x-hidden w-screen {% hook 'body:classes' %} bg-gray-50
								  {{ theme.settings.get('footer_is_dark') ? ' footer-is-dark' : ' footer-is-light' }}
								  {{ theme.settings.get('topnav_is_dark') ? ' topnav-is-dark' : '' }}
								  {{ theme.settings.get('sticky_add_to_cart') ? ' is-sticky-product-bar' : '' }}
								  ">
	<noscript>
		To get full functionality of this site you need to enable JavaScript. Here is how
		<a href="https://www.enable-javascript.com/" rel="noreferrer" target="_blank">To enable JavaScript on webpage</a>.
	</noscript>
	<div class="flex flex-col min-h-full app-inner">
		{% hook 'body:start' %}
		{% component 'header.header' %}
		{% block content %}{% endblock %}
		{% component 'footer.footer' %}
	</div>
	{% hook 'body:end' %}
	<script defer src="{{ 'app.js' | asset }}"></script>

	{# Twilight Components #}
	<salla-offer-modal></salla-offer-modal>
	<salla-search></salla-search>

	{% if user.type=='guest' %}
		<salla-login-modal></salla-login-modal>
	{% endif %}
	{% block scripts %}{% endblock %}
	<div id="productModal" class="hidden bg-[rgba(0, 0, 0, 0.5)] fixed top-0 left-0 z-[200] h-screen w-screen items-center justify-center">
		<div class="w-[90%] h-[90%] bg-[#F7F2F2] rounded-3xl py-3 px-4 lg:py-16 lg:px-20" id="modalProduct"></div>
	</div>
</body>
<script>
	const modal = document.getElementById("productModal")
	const biggerViewImage = document.getElementById('bigger-view-image');

	function onViewImage() {
		biggerViewImage.classList.replace('hidden', 'block');
		console.log({biggerViewImage});
	}

	function onCloseViewImage() {
		biggerViewImage.classList.replace('block', 'hidden');
	}


function clickModal(event) {
const modalContent = document.getElementById("modalProduct")
salla.product.getDetails(event, [
        "images",
        "sold_quantity",
        "category",
      ]).then((response) => {
console.log({data: response.data})
const product = response.data

console.log({productImages: product});

modalContent.innerHTML = `
<div class="flex flex-col items-start justify-start w-full h-full space-y-5">
	<button type="button" onclick="closeModal()" class="flex items-center justify-center w-16 h-16 mb-8 text-3xl lg:text-5xl font-black h-[10%]">x</button>
	<div class="grid w-full grid-cols-1 lg:grid-cols-2 gap-5 px-2 py-0.5 lg:px-5 lg:py-2 h-[90%]">
		<div class="flex flex-col items-start justify-start w-full h-full">
			<div class="bg-[#F1EBEB] w-full h-full flex flex-col space-y-2 lg:space-y-4 items-center justify-start px-3 py-2 lg:px-7 lg:py-5">
				<salla-slider id="thumbs" show-controls="true" type="thumbs">
				<div slot="items">	
					${product?.images?.map(img => {
						return `
								<img onclick="onViewImage()" class="object-contain" style="height:30rem" src="${img?.url}"/>
						`
					})}
 	 			</div>
 				 <div slot="thumbs">
				 	${product?.images?.map(img => {
						return `
						 <img onclick="onViewImage()" class="object-contain w-72 h-96" src="${img?.url}"/>
						 `
					})}
  				</div>
				</salla-slider>
			</div>
		</div>
		<div class="flex flex-col items-start justify-start w-full h-full space-y-2 lg:space-y-5">
			<div class="flex items-center justify-between w-full">
				<p class="text-[#707070] text-lg lg:text-2xl text-right">السعر شامل الضريبة</p>
				<div class="flex items-center justify-end space-x-2">
					<salla-button class="btn--wishlist s-button-wrap hydrated" id="popup-wishlist-btn-${product.id}" data-id="${product.id}" onclick="salla.wishlist.toggle(${product.id})" shape="icon" fill="outline" loader-position="center" color="light" size="medium" width="normal">
						<i class="sicon-heart"></i>
					</salla-button>
					<salla-social-share url="${product.url}" url-name="${product.name}" platforms="facebook,twitter,whatsapp,email,copy_link"></salla-social-share>
				</div>
			</div>
			<div class="flex items-center justify-start w-full space-x-2 lg:space-x-4">
				<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15" fill="none">
					<path d="M40.9757 6.51758C22.2736 6.51758 7.12891 21.1179 7.12891 39.1075C7.12891 57.0972 22.2736 71.6975 40.9757 71.6975C59.7117 71.6975 74.8903 57.0972 74.8903 39.1075C74.8903 21.1179 59.7117 6.51758 40.9757 6.51758ZM55.3411 58.6615L41.0096 50.3511L26.6781 58.6615L30.4727 42.9857L17.8352 32.4592L34.5045 31.0904L41.0096 16.2946L47.5147 31.0578L64.184 32.4266L51.5465 42.9531L55.3411 58.6615Z" fill="#FFAC0D"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15" fill="none">
					<path d="M40.9757 6.51758C22.2736 6.51758 7.12891 21.1179 7.12891 39.1075C7.12891 57.0972 22.2736 71.6975 40.9757 71.6975C59.7117 71.6975 74.8903 57.0972 74.8903 39.1075C74.8903 21.1179 59.7117 6.51758 40.9757 6.51758ZM55.3411 58.6615L41.0096 50.3511L26.6781 58.6615L30.4727 42.9857L17.8352 32.4592L34.5045 31.0904L41.0096 16.2946L47.5147 31.0578L64.184 32.4266L51.5465 42.9531L55.3411 58.6615Z" fill="#FFAC0D"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15" fill="none">
					<path d="M40.9757 6.51758C22.2736 6.51758 7.12891 21.1179 7.12891 39.1075C7.12891 57.0972 22.2736 71.6975 40.9757 71.6975C59.7117 71.6975 74.8903 57.0972 74.8903 39.1075C74.8903 21.1179 59.7117 6.51758 40.9757 6.51758ZM55.3411 58.6615L41.0096 50.3511L26.6781 58.6615L30.4727 42.9857L17.8352 32.4592L34.5045 31.0904L41.0096 16.2946L47.5147 31.0578L64.184 32.4266L51.5465 42.9531L55.3411 58.6615Z" fill="#FFAC0D"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 15 15" fill="none">
					<path d="M40.9757 6.51758C22.2736 6.51758 7.12891 21.1179 7.12891 39.1075C7.12891 57.0972 22.2736 71.6975 40.9757 71.6975C59.7117 71.6975 74.8903 57.0972 74.8903 39.1075C74.8903 21.1179 59.7117 6.51758 40.9757 6.51758ZM55.3411 58.6615L41.0096 50.3511L26.6781 58.6615L30.4727 42.9857L17.8352 32.4592L34.5045 31.0904L41.0096 16.2946L47.5147 31.0578L64.184 32.4266L51.5465 42.9531L55.3411 58.6615Z" fill="#FFAC0D"/>
				</svg>
			</div>
			<p class="text-[#00000096] text-base lg:text-xl text-right">
				${product.description}
			</p>
			<div class="flex items-center justify-start w-full space-x-2">
				<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<rect width="15" height="15" fill="url(#pattern0)"/>
					<defs>
						<pattern id="pattern0" patterncontentunits="objectBoundingBox" width="1" height="1">
							<use xlink:href="#image0_1072_536" transform="scale(0.00416667)"/>
						</pattern>
					</defs>
				</svg>
				<p class="text-base font-bold">234ر.س</p>
			</div>
			<div class="flex items-center justify-start w-full space-x-2">
				<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_1072_446)">
						<path d="M53.3991 72.3887C62.8984 72.3887 72.0086 68.6584 78.7256 62.0184C85.4426 55.3785 89.2162 46.3727 89.2162 36.9824C89.2162 27.5921 85.4426 18.5864 78.7256 11.9464C72.0086 5.30646 62.8984 1.57617 53.3991 1.57617C43.8998 1.57617 34.7896 5.30646 28.0726 11.9464C21.3556 18.5864 17.582 27.5921 17.582 36.9824C17.582 46.3727 21.3556 55.3785 28.0726 62.0184C34.7896 68.6584 43.8998 72.3887 53.3991 72.3887ZM68.4709 30.6376L52.3532 46.5704C52.0205 46.9002 51.6253 47.1618 51.1902 47.3403C50.755 47.5187 50.2885 47.6106 49.8174 47.6106C49.3463 47.6106 48.8798 47.5187 48.4446 47.3403C48.0095 47.1618 47.6143 46.9002 47.2815 46.5704L40.1181 39.4892C39.4456 38.8244 39.0678 37.9226 39.0678 36.9824C39.0678 36.0422 39.4456 35.1405 40.1181 34.4757C40.7907 33.8108 41.7029 33.4373 42.654 33.4373C43.6051 33.4373 44.5173 33.8108 45.1898 34.4757L49.8174 39.0572L63.3992 25.6241C63.7322 25.2949 64.1276 25.0338 64.5627 24.8556C64.9978 24.6775 65.4641 24.5858 65.9351 24.5858C66.406 24.5858 66.8724 24.6775 67.3075 24.8556C67.7426 25.0338 68.1379 25.2949 68.4709 25.6241C68.8039 25.9533 69.0681 26.3441 69.2483 26.7742C69.4286 27.2043 69.5213 27.6653 69.5213 28.1309C69.5213 28.5964 69.4286 29.0574 69.2483 29.4875C69.0681 29.9176 68.8039 30.3084 68.4709 30.6376Z" fill="#0FA958"/>
					</g>
					<defs>
						<clipPath id="clip0_1072_446">
							<rect width="15" height="15" fill="white"/>
						</clipPath>
					</defs>
				</svg>
				<p class="text-base">${product.status === "sale" ? "متوفر" : "غير متوفر"}</p>
			</div>
			<div class="flex items-center justify-start w-full space-x-2">
				<svg width="15" height="15" viewbox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.05556 64.8889C4.05556 69.35 7.70556 73 12.1667 73H44.6111C49.0722 73 52.7222 69.35 52.7222 64.8889V16.2222H4.05556V64.8889ZM12.1667 24.3333H44.6111V64.8889H12.1667V24.3333ZM42.5833 4.05556L38.5278 0H18.25L14.1944 4.05556H0V12.1667H56.7778V4.05556H42.5833Z" fill="#334155"/>
				</svg>
				<p class="text-base">${product.quantity}المتبقي
				</p>
			</div>
			<div class="flex items-center justify-start w-full space-x-2">
				<p class="text-base"></p>
				<salla-quantity-input max="28" value="1" name="quantity" class="flex justify-end border-gray-200 s-quantity-input hydrated"></salla-quantity-input>
			</div>
			<div class="w-full rounded-md bg-[#334155] flex items-center justify-center">
				<salla-add-product-button quick-buy="" class="btn--add-to-cart hydrated" fill="outline" width="wide" type="submit" product-id="${product.id}" product-status="sale" product-type="product">
					<i class="text-[16px] sicon-shopping"></i>
					أضف إلي عربة التسوق بنجاح
				</salla-add-product-button>
			</div>
		</div>
	</div>

    <div id="bigger-view-image" class="hidden fixed z-[2000] w-96 h-96 inset-0">
        <img class="object-cover w-full h-full" />
    </div>
</div>

`
});
modal.classList.replace('hidden', 'flex');

}

function closeModal() {
modal.classList.replace('flex', 'hidden');

}
</script></html>
