{#
| Variable                   | Type        | Description                                                          |
|----------------------------|-------------|----------------------------------------------------------------------|
| page                       | object      |                                                                      |
| page.title                 | string      | *could be html                                                       |
| page.slug                  | string      | ex: "cat.show"                                                       |
| category                   | ?Category   |                                                                      |
| category.name              | string      |                                                                      |
| category.url               | string      |                                                                      |
| category.sub_categories    | ?Category[] |                                                                      |
| category.image             | ?string     |                                                                      |
| filters                    | bool        | is filters allowed here or not                                       |
| sort_options[]             | SortList[]  |                                                                      |
| sort_options[].id          | string      | ourSuggest, bestSell, topRated, priceFromTopToLow, priceFromLowToTop |
| sort_options[].name        | string      |                                                                      |
| sort_options[].is_selected | bool        | Is current page sorted by it                                         |
| search_query               | ?string     |                                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
	<div
		class="container px-2.5 ms:px-5 mb-10">
		{# add breadcumbs container in pages to make a space in case breadcrumbs is off #}
		<nav class="w-full py-5 breadcrumbs">
			{% component 'header.breadcrumbs' %}
		</nav>

		<div class="flex flex-col items-start md:flex-row">
			{% if filters %}
				<button class="hidden btn--close-sm close-filters sicon-cancel"></button>
				<salla-filters class="flex-none md:w-72" id="filters-menu"></salla-filters>
			{% endif %}
			<div class="main-content flex-1 w-full {{ filters ? 'ltr:lg:ml-8 rtl:lg:mr-8' : '' }}">
				<div class="flex items-center justify-between mb-4 sm:mb-6">
					<h1 class="text-xl font-bold rtl:pl-3 ltr:pr-3" id="page-main-title">{{ page.title|raw }}</h1>
					<div class="flex items-center space-x-2 rtl:space-x-reverse">
						{% if filters %}
							<a href="#filters-menu" class="mt-2 filters-trigger bg-border-color text-primary lg:hidden">
								<i class="sicon-filter text-gray-text text-2xl me-2.5"></i>
							</a>
						{% endif %}
						{% if sort_options|length and products|length %}
							<div class="flex items-center">
								<button id="product-filter" class="py-2 px-3 bg-[#404553] text-white rounded-md w-48 flex items-center justify-between space-x-3">
									<svg class="w-5 h-5" width="38" height="42" viewbox="0 0 38 42" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.828125 32.5339V37.1177H13.0066V32.5339H0.828125ZM0.828125 5.03107V9.61487H21.1255V5.03107H0.828125ZM21.1255 41.7015V37.1177H37.3634V32.5339H21.1255V27.9501H17.066V41.7015H21.1255ZM8.94708 14.1987V18.7825H0.828125V23.3663H8.94708V27.9501H13.0066V14.1987H8.94708ZM37.3634 23.3663V18.7825H17.066V23.3663H37.3634ZM25.185 14.1987H29.2445V9.61487H37.3634V5.03107H29.2445V0.447266H25.185V14.1987Z" fill="white"/>
									</svg>
									<span>
										تصفية المنتجات
									</span>
								</button>
								<div class="p-3 fixed top-0 left-0 w-screen h-screen z-50 bg-[#FCFAFA] flex items-center justify-center">
									<div class="flex flex-col items-start justify-start w-10/12 p-5 space-y-3 bg-white rounded-lg h-8/12">
										<div class="flex flex-row-rev items-center justify-between w-full border-b border-[#F2F5F9]">
											<svg class="w-5 h-5" width="81" height="81" viewbox="0 0 81 81" fill="none" xmlns="http://www.w3.org/2000/svg">
												<circle cx="40.5859" cy="40.2109" r="40" fill="black"/>
												<path d="M66.9429 19.2425L61.634 13.9336L40.5867 34.9809L19.5394 13.9336L14.2305 19.2425L35.2778 40.2898L14.2305 61.3371L19.5394 66.646L40.5867 45.5987L61.634 66.646L66.9429 61.3371L45.8956 40.2898L66.9429 19.2425Z" fill="white"/>
											</svg>
											<h2 class="text-3xl color-[#424242]">فلترة</h2>
										</div>
										<h4 class="w-full text-2xl text-[#000000BD]">فلتر حسب</h4>
										<div class="grid grid-cols-4 gap-3">
											<button class="px-5 py-2 text-lg w-full border border-[#7070708F] rounded-md flex items-center justify-start">
												الأحدث
											</button>
											<button class="px-5 py-2 text-lg w-full border border-[#7070708F] rounded-md flex items-center justify-start">
												الأكثر شعبية
											</button>
											<button class="px-5 py-2 text-lg w-full border border-[#7070708F] rounded-md flex items-center justify-start">
												الأقل سعر
											</button>
											<button class="px-5 py-2 text-lg w-full border border-[#7070708F] rounded-md flex items-center justify-start">
												مسح الفلترة
											</button>
										</div>
										<button class="px-5 py-2 text-lg w-full border border-[#7070708F] rounded-md flex items-center justify-start">
											الأحدث
										</button>
									</div>
								</div>
							</div>
						{% endif %}
						<div class="items-center hidden rtl:mr-2 ltr:ml-2">
							<a href="#" data-type="grid" class="grid-trigger bg-border-color text-primary">
								<i class="sicon-grid"></i>
							</a>
							<a href="#" data-type="list" class="grid-trigger">
								<i class="sicon-list"></i>
							</a>
						</div>
					</div>

				</div>

				{% hook 'product:index.items.start' %}
				<div class="flex min-h-screen">
					<salla-products-list class="flex-1 min-w-0 overflow-auto " source="{{ page.slug }}" source-value="{{ page.id }}" {{ filters?'filters-Results':'' }}></salla-products-list>
				</div>
				{% hook 'product:index.items.end' %}
			</div>
		</div>
	</div>


	{% if store.settings.category.testimonial_enabled %}
		{% component 'home.testimonials' %}
	{% endif %}
{% endblock %}

{% block scripts %}
	<script defer src="{{ 'product.js' | asset }}"></script>
{% endblock %}
